# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
.env/

# Environment variables file
.env

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# PyCharm project files
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Cache files
*.sqlite3

# Python packaging
*.egg
*.egg-info/
dist/
build/
